{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "plugins": [
        ["@babel/plugin-proposal-object-rest-spread"],
        ["@babel/plugin-transform-react-display-name"],
        ["@babel/plugin-transform-react-jsx"]
      ]
    },
    "production": {
      "plugins": [
        ["@babel/plugin-proposal-object-rest-spread"],
        ["@babel/plugin-transform-react-display-name"]
      ]
    }
  }
}
