/*
  Variables
*/

blue = #0069ff
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.6rem
  line-height 1.5

h1
  font-family Avenir, 'Avenir', Helvetica, Calibri
  text-align center
  font-weight 100
  font-size 2rem
  margin 2rem 0
  letter-spacing -1px
  a
    color blue
    text-decoration none
    &:focus
      outline 0
