.node-config {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 25px;
    position: absolute;
    z-index: 10000;
    background-color: whitesmoke;

    width: 250px;
    -webkit-box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.75);
}
