svg {
    .stroked {
        stroke: $default_blue;
    }
    .lightstroked {
        stroke: $light_blue;
    }
    .thinstroked {
        stroke-width: 1px;
    }
    .unstroked {
        stroke: none;
    }
    .offblack {
        fill: $gray800;
        stroke: $gray800;
    }
    .white {
        fill: #FFF;
    }
    .offwhite {
        fill: $gray50;
        color: $gray50;
    }
    .paper {
        fill: $white_semitransparent;
        color: $white_semitransparent;
    }
    .paperstroked {
        stroke: $white_semitransparent;
        fill: none;
    }
    .lightblue {
        fill: $light_blue;
    }
    .darkblue {
        fill: $default_blue;
    }
    .unfilled {
        fill: none;
    }
    .active {
        fill: #15cd72;
    }
    .offwhitestroked {
        fill: none;
        stroke: $gray50;
    }
    .dashed {
        stroke-dasharray: 4;
    }
    .inherit-fill {
        fill: inherit;
    }

    .drag:hover {
        stroke-width: 5;
        stroke: #000;
    }
}
