.qual_1 {
    fill: #9b82f3;
}

.qual_2 {
    fill: #71cddd;
}

.qual_3 {
    fill: #34bc6e;
}

.qual_4 {
    fill: #95d13c;
}

.qual_5 {
    fill: #ffb000;
}

.qual_6 {
    fill: #fe8500;
}

.qual_7 {
    fill: #ff509e;
}

.qual_8 {
    fill: #5392ff;
}

